*{
    margin:0px;
    padding:0px;
}


:root{
    --mainColor:rgb(51, 153, 255);
    --colorLite:rgba(51, 153, 255,.7);
    --textFamily:"Quicksand",sans-serif;
    --tranVal:.2s all linear;
    --shadow:0px 0px 5px rgba(0,0,0,.5);
    --myH:calc(100vh - 12vh);
    --subColor:rgb(204, 102, 255);
    --myBackGround:linear-gradient(rgba(0,0,0,.35),rgba(0,0,0,.35)),url("https://images.pexels.com/photos/533923/pexels-photo-533923.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}
body{
    margin-top:7vh;
}
.nav{
    /* border:1px solid red; */
    box-sizing: border-box;
    height:7vh;
    width:100vw;
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding:1rem 2rem;
    font-family:var(--textFamily);
    position:fixed;
    top:0px;
    background-color:var(--mainColor);
    z-index:100;
    
}

.nav_box_1{
    display:flex;
    align-items:center;
    
}

.brnd{
    text-decoration: none;
    font-weight:100;
    color:white;
}

.nav_box_2{
    border:1px solid transparent;
}


.nav_box_2:hover{
    cursor:pointer;
}
.nav_box_2 div{
    box-sizing: border-box;
    width:2rem;
    height:.25rem;
    margin-top:.3rem;
    margin-bottom:.3rem;
    background-color:rgba(255,255,255,.9);
    transition:var(--tranVal);
}
.nav_box_2:hover div{
    /* border:1px solid red; */
    background-color:rgba(255,255,255,1);
}
.nav_box_3{
    /* border:1px solid red; */
    position:absolute;
    top:100px;
    right:0px;
}
.nav_box_3{
    /* border:1px solid red; */
    box-sizing: border-box;
    width:25vw;
    height:30vh;
    padding:2rem 2rem;
    background-color:black;
    position:fixed;
    top:7vh;
    right:-25vw;
    transition:.5s all linear;
}
.nav_box_3_slide{
    right:0vw;
}
.nav_box_3 h1{
    display:flex;
    justify-content: flex-end;
    margin-bottom:1rem;
}
.nav_box_3 h1 i{
    color:white;
    font-size:1rem;
    border:1.5px solid white;
    padding:1rem;
    transition: var(--tranVal);
}
.nav_box_3 h1 i:hover{
    cursor: pointer;
    background-color:white;
    color:black;
}
.nav_box_3 h4{
    margin-top:.5rem;
    margin-bottom:.5rem;
    color:white;
    text-decoration: none;
}
.link_nav{
    color:rgba(255,255,255,.7);
    font-weight:100;
    text-decoration: none;;
    transition:var(--tranVal);
}
.link_nav:hover{
    cursor: pointer;
    color:white;
}
.register{
    /* border:1px solid red; */
    box-sizing: border-box;
    height:var(--myH);
    display:flex;
}
.register_box_1{
    /* border:1px solid red; */
    flex-basis:50%;
    flex-shrink:0;
    background:var(--myBackGround);
    background-size:cover;
    background-position:center center;
    display:flex;
    justify-content: center;
    align-items: center;
}
.register_box_1 h1{
    font-family:var(--textFamily);
    font-weight:100;
    color:white;
    font-size:2.5rem;
}
.register_box_2{
    /* border:1px solid red; */
    flex-basis:50%;
    flex-shrink:0;
    display:flex;
    justify-content: center;
    align-items: center;
}
.form{
    /* border:1px solid red; */
    display:flex;
    flex-direction:column;
    align-items:center;
    font-family:var(--textFamily);
    box-sizing: border-box;
    width:25vw;
    height:50vh;
    padding-top:2rem;
}
.form h3{
    font-weight:100;
    color:var(--mainColor);
    font-size:1.5rem;
    text-align:center;
    margin-bottom:2rem;
}
.form input{
    width:16vw;
    outline:none;
    font-family:var(--mainColor);
    padding:.5rem 1rem;
    margin-top:.5rem;
    margin-bottom:.5rem;
    border:1.2px solid var(--mainColor);
    opacity:.5;
    transition:var(--tranVal);
}
.form input:hover{
    cursor:pointer;
    opacity:.8;
}
.form input:focus{
    cursor:text;
    opacity:1;
}
.form button{
    font-family:var(--textFamily);
    background-color:transparent;
    outline:none;
    padding:.5rem 1.2rem;
    font-size:.8rem;
    color:var(--mainColor);
    border:1.5px solid var(--mainColor);
    transition:var(--tranVal);
    margin-top:1rem;
}
.form button:hover{
    cursor:pointer;
    background-color:var(--mainColor);
    color:white;
}
.form h5{
    font-weight:100;
    margin-top:1rem;
    margin-bottom:1rem;
}
.link{
    text-decoration:none;
    color:var(--colorLite);
    transition: var(--tranVal);
    margin-top:1rem;
    margin-bottom:1rem;
}
.link:hover{
    cursor:pointer;
    color:var(--mainColor);
}
.red{
    color:red;
}
.success{
    border:1.5px solid rgb(89, 179, 0);
    box-sizing: border-box;
    height:7vh;
    width:20vw;
    display:flex;
    align-items: center;
    color:rgb(89, 179, 0);
    justify-content: center;
    margin-bottom:2rem;
}
.failure{
    border:1.5px solid red;
    box-sizing: border-box;
    height:7vh;
    width:25vw;
    font-weight:100;
    display:flex;
    align-items: center;
    color:red;
    justify-content: center;
    margin-bottom:2rem;
    font-family:var(--textFamily);
}
.footer{
    background-color:var(--mainColor);
    box-sizing: border-box;
    height:5vh;
    font-family:var(--textFamily);
    display:flex;
    justify-content: center;
    align-items: center;
    font-weight:100;
    color:white;
}
.login_box_2{
    background:linear-gradient(rgba(0,0,0,.35),rgba(0,0,0,.35)),
    url("https://images.pexels.com/photos/274021/pexels-photo-274021.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size:cover;
    background-position:center center;
}
.search_container{
    /* border:1px solid red; */
    height:130vh;;
    
}
.search_form_container{
    display:flex;
    justify-content: center;
    padding-top:3rem;
}
.search_results_box{
    display:flex;
    justify-content: center;
}
.search_results{
    /* border:1px solid red; */
    box-sizing: border-box;
    overflow-y:auto;
    width:100%;
    height:80vh;
    padding:0rem 3rem;
}
.search_results h5{
    color:var(--mainColor);
    font-family:var(--textFamily);
    font-weight:100;
    font-size:1.2rem;
    text-align:center;
    margin-bottom:1.5rem;
}
.gadgetContainer{
    height:var(--myH);
    /* border:1px solid red; */
    padding-top: 2.5rem;
    
}
.gadgetContainer h2{
    font-family:var(--textFamily);
    text-align:center;
    font-weight:100;
    color:var(--mainColor);
    margin-bottom:2.5rem;
}
.gadgetBox{
    /* border:1px solid red; */
    display:flex;
    justify-content: space-between;
    box-sizing: border-box;
    overflow-y:auto;
    height:70vh;
    padding-left:3rem;
    padding-right:3rem;
    padding-top:1rem;
}
.gadgetCard{
    border:1px solid black;
    box-sizing:border-box;
    width:12vw;
    height:35vh;
    font-family:var(--textFamily);
    overflow:hidden;
    border-radius:1rem;
    transition:var(--tranVal);
    transform:scale(1);
    background-color: white;
}
.gadgetCard h3{
    
    font-weight:100;
    font-size:1rem;
    margin-top:.5rem;
    text-align: center;
}
.gadgetCard h4{
    font-weight:100;
    margin-top:1.5rem;
    text-align:center;
}
.gadgetCard h4 .link{
    border:1.5px solid var(--mainColor);
    padding:.3rem .8rem;
    color:var(--mainColor);
    transition:var(--tranVal);
    border-radius:.22rem;
}
.gadgetCard h4 .link:hover{
    cursor:pointer;
    background-color:var(--mainColor);
    color:white;
}
.gadgetCard:hover{
    cursor:pointer;
    box-shadow:0px 8px 5px rgba(0,0,0,.3);
    transform:scale(1.05);
    border:1px solid transparent;
}
.gadgetCard img{
    box-sizing: border-box;
    width:12vw;
    height:20vh;
}
.gadgetFull_container{
    border:1px solid red;
    display:flex;
    font-family:var(--textFamily);
    box-sizing: border-box;
    height:120vh;

}
.gadgetFull_box_1{
    /* border:1px solid red; */
    flex-basis:40%;
    flex-shrink:0;
    display:flex;
    justify-content: center;
    padding-top:10rem;
}
.gadgetFull_box_2{
    /* border:1px solid red; */
    flex-basis:60%;
    flex-shrink:0;
    padding-top:10rem
}
.gadgetFull_box_2 h1{
    font-weight:100;
    margin-bottom:1.5rem;
    font-size:3rem;
    color:var(--mainColor);
}
.gadgetFull_box_2 h3{
    font-weight:100;
    margin-bottom:.5rem;
    font-size:1.5rem;
    margin-top:2rem;
    font-size:1.6rem;
    color:var(--subColor);
}
.gadgetFull_box_2 h4{
    font-weight:100;
    margin-bottom:.5rem;
}
.btn{
    border:1.5px solid var(--mainColor);
    background-color:transparent;
    color:var(--mainColor);
    padding:.4rem .8rem;
    transition:var(--tranVal);
    margin-bottom:3rem;
    margin-top:.5rem;
}
.btn:hover{
    cursor:pointer;
    background-color:var(--mainColor);
    color:white;
}
.gadgetFull_box_1 img{
    box-sizing: border-box;
    width:25vw;
    height:25vh;
    padding:.2rem;
    box-shadow:0px 0px 3px rgba(0,0,0,.5) ;   
}
.review_box{
    margin-top:2rem;
    border:1.5px solid var(--mainColor);
    box-sizing: border-box;
    overflow-y:auto;
    padding:1rem 2rem;
    width:50vw;
    height:40vh;
    color:var(--mainColor);
}
.review{
    /* border:1px solid red; */
    border-bottom:1px solid var(--mainColor);
    box-sizing: border-box;
    width:25vw;
    margin-top:1rem;
    margin-bottom:1rem;
    padding-bottom:1rem;
}
.review h3{
    color:rgb(255, 204, 0);
    font-size:1rem;
    margin-top:0rem;
}
.review p{
    font-size:1rem;
    text-align: justify;
}
.review h5{
   margin-top:.5rem;
   margin-bottom:.5rem;
   font-weight:100;
   color:var(--subColor);
}
.review_upd{
    text-decoration: none;
    margin-right:.8rem;
    color:var(--subColor);
}
.review_dlt{
    background-color:transparent;
    font-family:var(--textFamily);
    color:red;
    border:none;
    padding:.4rem .8rem;   
}
.review_form_box_1{
    background:linear-gradient(rgba(0,0,0,.35),rgba(0,0,0,.35)),
    url("https://images.pexels.com/photos/1585893/pexels-photo-1585893.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size:cover;
    background-position:center center;
}
.review_upd_box_1{
    background:linear-gradient(rgba(0,0,0,.35),rgba(0,0,0,.35)),
    url("https://images.pexels.com/photos/250591/pexels-photo-250591.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size:cover;
    background-position:center center;
}